section {
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

form {
  display: flex;
  flex-direction: column;
}



textarea {
  display: flex;
  border: none;
  border-bottom: solid;
  background-color: #f4f1ec;
  justify-content: center;
}

div.buttoncounter {
  display: flex;
  border-top: 5px;
  justify-content: space-between;
}

button {
  background-color: #4056A1;
  color: whitesmoke;

}

.counter {
  font-family: 'Bungee', sans-serif;
  display: flex;
  
  
}
.counter-negative {
  font-family: 'Bungee', cursive, sans-serif;
  color: red;
}